@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200;600;700;900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "jost";
    margin: 30px;
}

a {
    text-decoration: none;
    color: white;

}

#navBar{
    display: flex;
    align-items: center;
    font-size: 20px;

}

#navBar ul {
    margin-left: 70px;
    text-decoration: none;
    list-style-type: none;
}

#navBar li {
    display: inline; 
}

#navBar p {
    display: inline;
    letter-spacing: 10px; 
}

#navBar img {
    width: 300px;
}